<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="ChromeHome">
        <parameter name="browser" value="Chrome"></parameter>
        <classes>
<!--            <class name="testScripts.LoginScrt"></class>-->
            <class name="testScripts.AddSachScrt"></class>
        </classes>
    </test>
</suite>